@{
    Layout = null;
}
<div class="list vertical">
    <h1 style="width: 100%; text-align: center; margin: 4rem 0;">Filters</h1>
    <div class="list horizontal">
        <div class="search-category" filter="Desktop" title="Desktop" style="background-image: url('/assets/images/search-filters/Desktop.jpg')"></div>
        <div class="search-category" filter="Open Source" title="Open Source" style="background-image: url('/assets/images/search-filters/Open Source.jpg')"></div>
        <div class="search-category" filter="Server" title="Server" style="background-image: url('/assets/images/search-filters/Server.jpg')"></div>
        <div class="search-category" filter="Web UI" title="Web UI" style="background-image: url('/assets/images/search-filters/WebUI.jpg')"></div>
    </div>
    <div class="list horizontal">
        <div class="search-category" filter="CLI" title="Command Line Interface (CLI)" style="background-image: url('/assets/images/search-filters/CLI.jpg')"></div>
        <div class="search-category" filter="Utilities" title="Utilities" style="background-image: url('/assets/images/search-filters/Utilities.jpg')"></div>
        <div class="search-category" filter="Productivity" title="Productivity" style="background-image: url('/assets/images/search-filters/Productivity.jpg')"></div>
        <div class="search-category" filter="Entertainment" title="Entertainment" style="background-image: url('/assets/images/search-filters/Entertainment.jpg')"></div>
    </div>
</div>