<div id="sidebar">
    <div class="content">
        <section>
            <p class="name">Category</p>
            <toggle name="Desktop" value="true"></toggle>
            <toggle name="Games" value="false"></toggle>
            <toggle name="Entertainment" value="false"></toggle>
            <toggle name="OpenSource" value="false"></toggle>
            <toggle name="Server" value="false"></toggle>
            <toggle name="Utility" value="false"></toggle>
            <toggle name="Owned" value="false"></toggle>
        </section>
        <section>
            <p class="name">Pricing</p>
            <toggle id="free-toggle" name="Free" value="false"></toggle>
            <range id="price-range" min="0.00" max="99.99" type="$"></range>
        </section>
        <section>
            <p class="name">Rating</p>
            <toggle name="Include Not Rated" value="false"></toggle>
            <stars id="sort-rating" value="3"></stars>
        </section>
        <section class="ad"></section>
    </div>
</div>
<div id="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" name="search-box" id="search-box">
</div>

<div class="list horizontal">

    @for (int i = 0; i < 50; i++)
    {
        <a class="product-item" href="/product/@i/@i">
            <div class="icon" style="background-image: url('https://lfinteractive.net/assets/images/magic-dm-wallpaper.svg');"></div>
            <div class="content">
                <p class="name">Test Item @i</p>
                <p class="description">Description</p>
            </div>
            <div class="extra">
                <span>
                    <i class="extra-icon fa-solid fa-dollar-sign"></i>
                    <p class="extra-value">FREE</p>
                </span>
                <span>
                    <i class="extra-icon fa-solid fa-download"></i>
                    <p class="extra-value">25M</p>
                </span>
                <span>
                    <i class="fa-solid fa-star extra-icon"></i>
                    <p class="extra-value">4.5/5</p>
                </span>
            </div>
        </a>
    }

</div>
