<link rel="stylesheet" href="/assets/css/product-page.css">
<div id="sidebar" class="product" style="background-image: url('https://lfinteractive.net/assets/images/magic-dm-wallpaper.svg');">
    <div class="content">
        <section id="product-header">
            <div id="product-icon" style="background-image: url('https://lfinteractive.net/assets/images/magic-dm-wallpaper.svg');"></div>
            <div id="product-stats">
                <span id="product-price-stat"> <i class="fas fa-dollar-sign"></i> FREE</span>
                <span id="product-download-stat"><i class="fas fa-download"></i> 207,488,561</span>
                <span id="product-review-stat">
                    <i class="fas fa-star"></i>
                    <div style="
                            display: flex;
                            flex-direction: column;
                        ">
                        <span id="review-value"> 4.5/5</span>
                        <span id="review-count">100,025,679 Reviews</span>
                    </div>
                </span>
            </div>
        </section>
        <section>
            <p class="name">@ViewBag.Slug</p>
            <p class="description">
                This is a template page...
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, vel, culpa odio magnam impedit in voluptatum quas consequatur, ea aut rerum itaque iure repellat nihil! Aliquid molestiae nostrum cum alias.
            </p>
        </section>

        <section>
            <p class="name">Versions</p>
            <version type="release" date="10/14/2022" name="0.4.2"></version>
            <version type="beta" date="10/10/2022" name="0.4.1b"></version>
            <version type="alpha" date="10/04/2022" name="0.4.0a"></version>
        </section>
        <section id="tags-section">
            <p class="name">Tags</p>
            <div class="list horizontal">
                <p class="tag">Desktop</p>
                <p class="tag">Utility</p>
                <p class="tag">Downloads</p>
                <p class="tag">Desktop</p>
                <p class="tag">Utility</p>
                <p class="tag">Downloads</p>
            </div>
        </section>
        <section>
            <p class="name">Rating</p>
            <stars id="sort-rating" value="3"></stars>
        </section>
        <section class="ad"></section>
    </div>
</div>

<div id="page-nav">
    <div class="page-nav-item">Overview</div>
    <div class="page-nav-item">Release Notes</div>
    <div class="page-nav-item active">Versions</div>
    <div class="page-nav-item">Settings</div>
</div>

<div id="page-view">
    <div id="complete-versions-list">
        <div id="list-headers">
            <div class="list-header">Versions</div>
            <div class="list-header">Supports</div>
            <div class="list-header">Downloads</div>
        </div>
        <div class="completed-version">
            <version type="release" date="10/14/2022" name="0.4.2"></version>
            <div class="completed-version-supported-list">
                <i title="download Windows" class="download-windows fab fa-windows"></i>
                <i title="download MacOS" class="download-osx fab fa-apple"></i>
                <i title="download Linux" class="download-linux fab fa-linux"></i>
            </div>

            <div class="completed-version-download">
                <b>100,000,000</b> Downloads
            </div>
        </div>
        <div class="completed-version">
            <version type="beta" date="10/14/2022" name="0.4.2b"></version>
            <div class="completed-version-supported-list">
                <i title="download Windows" class="download-windows fab fa-windows"></i>
                <i title="download MacOS" class="download-osx fab fa-apple"></i>
                <i title="download Linux" class="download-linux fab fa-linux"></i>
            </div>

            <div class="completed-version-download">
                <b>100,000,000</b> Downloads
            </div>
        </div>
        <div class="completed-version">
            <version type="alpha" date="10/14/2022" name="0.4.2a"></version>
            <div class="completed-version-supported-list">
                <i title="download Windows" class="download-windows fab fa-windows"></i>
                <i title="download MacOS" class="download-osx fab fa-apple"></i>
                <i title="download Linux" class="download-linux fab fa-linux"></i>
            </div>
            <div class="completed-version-download">
                <b>100,000,000</b> Downloads
            </div>
        </div>
    </div>
</div>