
<section class="centered col" style="max-width: 1000px;margin: auto; padding: 0 4rem;">

    <h1>Login</h1>
    <p class="error"></p>
    <div class="form centered col">
        <div class="row">
            <label for="email-input">Email/Username</label>
            <input type="text" name="email" id="email-input">
        </div>
        <div class="row">
            <label for="password-input">Password</label>
            <input type="password" name="password" id="password-input">
        </div>
        <toggle name="Remember Me?" value="false"></toggle>
        <button type="submit" class="btn md">Login</button>
    </div>
    <p>Don't have an account? Click <a href="/auth/register" style="color: var(--primary);"><b><u>HERE</u></b></a> to Register!</p>
</section>
<script src="/assets/js/login.js"></script>