<section class="centered col" style="max-width: 1000px;margin: auto; padding: 0 4rem;">
        <h1>Register</h1>
        <p class="error"></p>
        <div class="form centered col">
            <div class="row">
                <label for="email-input">Email</label>
                <input type="email" name="email" id="email-input">
            </div>
            <div class="row">
                <label for="username-input">Username</label>
                <input type="text" name="username" id="username-input">
            </div>
            <div class="row">
                <label for="password-input">Password</label>
                <input type="password" name="password" id="password-input">
            </div>
            <div class="row">
                <label for="confirm-password-input">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password-input">
            </div>
            <button type="submit" class="btn md">Register</button>
            <p class="centered">Already have an account? Click <a href="/auth/login" style="color: var(--primary);"><b><u> HERE </u></b></a> to Login!</p>
        </div>
    </section>
    <script src="/assets/js/register.js"></script>