@model int

<div class="centered list vertical" style="height: 100vh; min-height: 500px;justify-content: center;">
    <h1>Woops</h1>
    @switch (Model)
    {
        case 404:
            <p class="paragraph-1">This page could not be found!</p>
            break;
        case 401:
            <p class="paragraph-1">Your not authorized to view our secrete sauce!</p>
            break;
        case 500:
            <p class="paragraph-1">Something is wrong... This is on us...</p>
            break;
        default:
            <p class="paragraph-1">Not sure how we got here</p>
            break;
    }
    <a class="btn" href="/">Go Home</a>
</div>