<div style="margin-top: 8rem;">

    <section>
        <h1>Project Creation</h1>
        <p class="paragraph-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie enim, urna mauris pellentesque aliquam aliquam nulla. In pulvinar facilisis convallis rhoncus, adipiscing. Mauris quis libero arcu fames amet est eget felis cursus. Nisi placerat nunc vivamus enim, risus sed venenatis volutpat fusce. A non malesuada malesuada et turpis amet. Vitae at risus pellentesque pellentesque non faucibus. Cras maecenas elementum felis est, luctus mauris, egestas. Sapien tempus vitae aliquet tincidunt turpis. Ut justo habitasse non vel neque. Et, duis dolor, lorem consequat. Vulputate facilisi laoreet vel aenean nisi. Non cras dolor accumsan odio ridiculus tempus. Risus scelerisque ipsum justo, habitasse. Nullam vestibulum aliquet non nunc semper enim elementum. Leo augue etiam accumsan sed dictum facilisis semper amet in. Ipsum aliquam nisl iaculis enim. Ultrices amet in egestas sit felis vestibulum. Purus faucibus cras mollis blandit nisi, dictum lectus est gravida. Eget faucibus sed eu justo. Quam enim tristique mattis et amet. Habitasse faucibus bibendum egestas amet, purus. Praesent dui fringilla phasellus pellentesque. Iaculis ullamcorper tortor sed massa facilisis blandit orci. In velit diam et pharetra, feugiat posuere et. Semper convallis phasellus id phasellus natoque vestibulum. Feugiat vulputate et elit odio tempor mattis. Mi in nunc morbi nam donec sit commodo etiam. Gravida enim feugiat sodales quis nunc, ipsum commodo. Cursus sit urna proin tristique dui fames feugiat. Adipiscing id morbi leo amet morbi eu. Eget lorem eu viverra interdum. Turpis vitae pulvinar nisl, phasellus risus nullam dui rutrum mattis. Scelerisque amet, pellentesque placerat elementum eget pellentesque lobortis consectetur. Sed nec suscipit at volutpat. Volutpat, quis metus sollicitudin mattis eget nulla consectetur rutrum. Eget morbi ornare etiam ac arcu et ornare mauris volutpat. In malesuada dui in pharetra, enim urna, leo quis elementum. Orci magna tristique tempor, id porttitor sapien. Tempus, id a sagittis accumsan, pellentesque. Id vel facilisi elit eget porttitor molestie nunc augue. Eu, urna, elit in porttitor felis aliquam quis suscipit urna. Sed et, dictum eget platea. At volutpat.</p>
    </section>
    <section class="ad"></section>

    <section>
        <h2>Overview</h2>
        <div class="list vertical" style="width: 100%;">
            <div class="input search-dropdown dropdown" title="The Github Repository">
                <label for="github-repository-search-box">Repository</label>
                <input type="text" id="github-repository-search-box" autocomplete="false">
                <div class="dropdown-body">
                    <div class="dropdown-item">Project Name</div>
                    <div class="dropdown-item">Test Item</div>
                    <div class="dropdown-item">Justice For Nick</div>
                    <div class="dropdown-item">Dillans Bully</div>
                    <div class="dropdown-item">Coolest Project Ever</div>
                    <div class="dropdown-item">Name of Item</div>
                    <div class="dropdown-item">Some Test Item</div>
                    <div class="dropdown-item">Junior Dev Template</div>
                    <div class="dropdown-item">Lick My Balls</div>
                    <div class="dropdown-item">Bully 2</div>
                    <div class="dropdown-item">Testicales</div>
                </div>
            </div>
            <div class="input" title="the name of the project">
                <label for="project-name-box">Project Name</label>
                <input type="text" id="project-name-box" autocomplete="false">
            </div>
            <div class="input" title="An overview of the project and how to use it.">
                <label for="about-box">About</label>
                <textarea type="text" id="about-box" autocomplete="false"></textarea>
            </div>

            <div class="input search-dropdown dropdown" title="The projects tags">
                <label for="tags-search-box">Tags</label>
                <input type="text" id="tags-search-box" autocomplete="false" placeholder="Desktop; Games; Server;">
                <div class="dropdown-body">
                    <div class="dropdown-item">Desktop</div>
                    <div class="dropdown-item">Games</div>
                    <div class="dropdown-item">Open Source</div>
                    <div class="dropdown-item">Server</div>
                    <div class="dropdown-item">Utilities</div>
                    <div class="dropdown-item">Dev Tools</div>
                </div>
            </div>

            <div class="input" title="Used for searching">
                <label for="keywords-box">Keywords</label>
                <input type="text" id="keywords-box" autocomplete="false" placeholder="Open; Open DSM; DSM;">
            </div>
        </div>
    </section>
    <section>
        <h2>Images</h2>
        <p class="paragraph-3">For more information view our documentation on <a href="#">image uploads.</a></p>
        <br>
        <br>
        <br>
        <div class="list horizontal">
            <div class="list vertical">
                <h4>Icon</h4>
                <div class="file-upload">
                    <div class="content">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="list vertical">
                <h4>Banner</h4>
                <div class="file-upload">
                    <div class="content">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
            <div class="list vertical">
                <h4>Gallery</h4>
                <div class="file-upload">
                    <div class="content">
                        <i class="fas fa-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>Files</h2>
        <p class="paragraph-3">For more information view our documentation on <a href="#">file uploads.</a></p>
        <div class="list vertical" style="margin: 1rem 0;">
            <div class="list horizontal" style="margin: 1rem 0;">
                <div class="list vertical">
                    <h4>Windows</h4>
                    <div class="file-upload">
                        <div class="content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="list vertical">
                    <h4>Mac</h4>
                    <div class="file-upload">
                        <div class="content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="list vertical">
                    <h4>Linux</h4>
                    <div class="file-upload">
                        <div class="content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list horizontal" style="margin: 1rem 0;">
                <div class="list vertical">
                    <h4>Windows ARM</h4>
                    <div class="file-upload">
                        <div class="content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="list vertical">
                    <h4>Mac ARM</h4>
                    <div class="file-upload">
                        <div class="content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
                <div class="list vertical">
                    <h4>Linux ARM</h4>
                    <div class="file-upload">
                        <div class="content">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <h2>Please Read and Accept our Terms of Service</h2>
        <div id="tos">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore sequi corporis nemo ipsam tempora, sapiente, dolore dolores officia animi consectetur magnam, quo necessitatibus ab. Eius quidem possimus nesciunt beatae sit, enim maiores distinctio facilis ullam quis corrupti! Rem ipsam quisquam quaerat, inventore vitae, atque accusantium nisi ut dignissimos laborum dicta aliquam perferendis! Possimus explicabo ullam harum praesentium exercitationem at reiciendis et excepturi! Delectus similique labore voluptas vitae? Beatae cum at repellendus delectus? Maxime dolor veniam doloremque nemo temporibus velit nihil, quaerat aperiam provident iure est et facere. Ratione, eveniet. Recusandae delectus omnis sit quod autem in optio! Debitis quod, consectetur ipsa sit facilis vero animi autem possimus alias aperiam molestias placeat nulla deleniti repellendus assumenda quidem odit laborum modi, veritatis mollitia accusantium! Ab magnam adipisci doloremque sequi natus atque, aspernatur magni dolorem ipsum sint voluptatibus sit labore blanditiis aliquam. Mollitia sit saepe numquam harum beatae repudiandae odit magnam sequi nobis adipisci eos vitae fugit, similique dignissimos explicabo quos facilis quisquam quibusdam cupiditate? Qui magnam consequatur iste! Minima, temporibus cumque modi rerum dignissimos nisi accusantium repellat tempore rem quaerat ratione, consectetur minus eveniet at porro ducimus aperiam nam in voluptas aut enim neque. Ea, placeat. Nihil neque odit dolores consequatur dicta atque perspiciatis inventore aliquam ea iusto modi, optio cupiditate fugit laudantium in facere natus. Laudantium dolorem, molestias perferendis esse tempore dolor at laborum. Minima eligendi harum tempore ea doloribus dolor maxime sed natus debitis consectetur sequi odio, cum nostrum id, distinctio numquam consequatur officiis laborum impedit aperiam labore accusantium deserunt! Cumque quod nostrum assumenda incidunt ullam quae iste officiis corrupti eveniet facilis id dolore error, temporibus perspiciatis voluptate, quas magni nemo asperiores dignissimos iure amet deserunt laboriosam. Deserunt at soluta provident aut distinctio odio debitis dolorum repellendus! Harum accusantium facere consequatur, sit itaque cumque facilis aperiam, recusandae totam optio molestias laudantium ea esse obcaecati explicabo nihil culpa. Autem est numquam ad eum similique dolores culpa, animi inventore et repellendus asperiores amet aliquid excepturi eligendi nemo? Dignissimos ab laudantium similique animi facere repellat error voluptatibus doloremque, blanditiis a libero et perferendis atque. Quam corrupti ex illo! Debitis recusandae nihil optio magnam laboriosam sed modi distinctio earum numquam obcaecati! Sequi obcaecati eveniet, veniam delectus, exercitationem nihil placeat quia a vel repudiandae tempora necessitatibus nostrum animi perferendis minima pariatur eligendi fuga quod magni natus cumque? Ab, possimus libero! Provident sequi voluptas nihil asperiores! Tempora eligendi nostrum saepe obcaecati, vitae temporibus cupiditate odio ratione velit facilis. Neque cum dolore unde vero amet ipsum voluptatibus reprehenderit et delectus tempora inventore quis dicta ut asperiores odit ipsa facere, nam molestiae ipsam accusamus ex aliquam odio aliquid. Magnam vero, laboriosam ratione molestias nihil doloremque? Aut doloribus dicta velit culpa magnam voluptas quod omnis voluptates mollitia iste cum molestiae dolorum rerum rem accusantium, ducimus reiciendis tenetur corrupti eveniet nisi aliquam in? Est obcaecati adipisci et eos necessitatibus vitae nesciunt delectus consequatur tempore, blanditiis perferendis maiores esse voluptate unde, minima qui veritatis aut dolores ut, inventore ipsa perspiciatis. Optio ratione natus enim voluptate atque aut harum odio ut iste.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore sequi corporis nemo ipsam tempora, sapiente, dolore dolores officia animi consectetur magnam, quo necessitatibus ab. Eius quidem possimus nesciunt beatae sit, enim maiores distinctio facilis ullam quis corrupti! Rem ipsam quisquam quaerat, inventore vitae, atque accusantium nisi ut dignissimos laborum dicta aliquam perferendis! Possimus explicabo ullam harum praesentium exercitationem at reiciendis et excepturi! Delectus similique labore voluptas vitae? Beatae cum at repellendus delectus? Maxime dolor veniam doloremque nemo temporibus velit nihil, quaerat aperiam provident iure est et facere. Ratione, eveniet. Recusandae delectus omnis sit quod autem in optio! Debitis quod, consectetur ipsa sit facilis vero animi autem possimus alias aperiam molestias placeat nulla deleniti repellendus assumenda quidem odit laborum modi, veritatis mollitia accusantium! Ab magnam adipisci doloremque sequi natus atque, aspernatur magni dolorem ipsum sint voluptatibus sit labore blanditiis aliquam. Mollitia sit saepe numquam harum beatae repudiandae odit magnam sequi nobis adipisci eos vitae fugit, similique dignissimos explicabo quos facilis quisquam quibusdam cupiditate? Qui magnam consequatur iste! Minima, temporibus cumque modi rerum dignissimos nisi accusantium repellat tempore rem quaerat ratione, consectetur minus eveniet at porro ducimus aperiam nam in voluptas aut enim neque. Ea, placeat. Nihil neque odit dolores consequatur dicta atque perspiciatis inventore aliquam ea iusto modi, optio cupiditate fugit laudantium in facere natus. Laudantium dolorem, molestias perferendis esse tempore dolor at laborum. Minima eligendi harum tempore ea doloribus dolor maxime sed natus debitis consectetur sequi odio, cum nostrum id, distinctio numquam consequatur officiis laborum impedit aperiam labore accusantium deserunt! Cumque quod nostrum assumenda incidunt ullam quae iste officiis corrupti eveniet facilis id dolore error, temporibus perspiciatis voluptate, quas magni nemo asperiores dignissimos iure amet deserunt laboriosam. Deserunt at soluta provident aut distinctio odio debitis dolorum repellendus! Harum accusantium facere consequatur, sit itaque cumque facilis aperiam, recusandae totam optio molestias laudantium ea esse obcaecati explicabo nihil culpa. Autem est numquam ad eum similique dolores culpa, animi inventore et repellendus asperiores amet aliquid excepturi eligendi nemo? Dignissimos ab laudantium similique animi facere repellat error voluptatibus doloremque, blanditiis a libero et perferendis atque. Quam corrupti ex illo! Debitis recusandae nihil optio magnam laboriosam sed modi distinctio earum numquam obcaecati! Sequi obcaecati eveniet, veniam delectus, exercitationem nihil placeat quia a vel repudiandae tempora necessitatibus nostrum animi perferendis minima pariatur eligendi fuga quod magni natus cumque? Ab, possimus libero! Provident sequi voluptas nihil asperiores! Tempora eligendi nostrum saepe obcaecati, vitae temporibus cupiditate odio ratione velit facilis. Neque cum dolore unde vero amet ipsum voluptatibus reprehenderit et delectus tempora inventore quis dicta ut asperiores odit ipsa facere, nam molestiae ipsam accusamus ex aliquam odio aliquid. Magnam vero, laboriosam ratione molestias nihil doloremque? Aut doloribus dicta velit culpa magnam voluptas quod omnis voluptates mollitia iste cum molestiae dolorum rerum rem accusantium, ducimus reiciendis tenetur corrupti eveniet nisi aliquam in? Est obcaecati adipisci et eos necessitatibus vitae nesciunt delectus consequatur tempore, blanditiis perferendis maiores esse voluptate unde, minima qui veritatis aut dolores ut, inventore ipsa perspiciatis. Optio ratione natus enim voluptate atque aut harum odio ut iste.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore sequi corporis nemo ipsam tempora, sapiente, dolore dolores officia animi consectetur magnam, quo necessitatibus ab. Eius quidem possimus nesciunt beatae sit, enim maiores distinctio facilis ullam quis corrupti! Rem ipsam quisquam quaerat, inventore vitae, atque accusantium nisi ut dignissimos laborum dicta aliquam perferendis! Possimus explicabo ullam harum praesentium exercitationem at reiciendis et excepturi! Delectus similique labore voluptas vitae? Beatae cum at repellendus delectus? Maxime dolor veniam doloremque nemo temporibus velit nihil, quaerat aperiam provident iure est et facere. Ratione, eveniet. Recusandae delectus omnis sit quod autem in optio! Debitis quod, consectetur ipsa sit facilis vero animi autem possimus alias aperiam molestias placeat nulla deleniti repellendus assumenda quidem odit laborum modi, veritatis mollitia accusantium! Ab magnam adipisci doloremque sequi natus atque, aspernatur magni dolorem ipsum sint voluptatibus sit labore blanditiis aliquam. Mollitia sit saepe numquam harum beatae repudiandae odit magnam sequi nobis adipisci eos vitae fugit, similique dignissimos explicabo quos facilis quisquam quibusdam cupiditate? Qui magnam consequatur iste! Minima, temporibus cumque modi rerum dignissimos nisi accusantium repellat tempore rem quaerat ratione, consectetur minus eveniet at porro ducimus aperiam nam in voluptas aut enim neque. Ea, placeat. Nihil neque odit dolores consequatur dicta atque perspiciatis inventore aliquam ea iusto modi, optio cupiditate fugit laudantium in facere natus. Laudantium dolorem, molestias perferendis esse tempore dolor at laborum. Minima eligendi harum tempore ea doloribus dolor maxime sed natus debitis consectetur sequi odio, cum nostrum id, distinctio numquam consequatur officiis laborum impedit aperiam labore accusantium deserunt! Cumque quod nostrum assumenda incidunt ullam quae iste officiis corrupti eveniet facilis id dolore error, temporibus perspiciatis voluptate, quas magni nemo asperiores dignissimos iure amet deserunt laboriosam. Deserunt at soluta provident aut distinctio odio debitis dolorum repellendus! Harum accusantium facere consequatur, sit itaque cumque facilis aperiam, recusandae totam optio molestias laudantium ea esse obcaecati explicabo nihil culpa. Autem est numquam ad eum similique dolores culpa, animi inventore et repellendus asperiores amet aliquid excepturi eligendi nemo? Dignissimos ab laudantium similique animi facere repellat error voluptatibus doloremque, blanditiis a libero et perferendis atque. Quam corrupti ex illo! Debitis recusandae nihil optio magnam laboriosam sed modi distinctio earum numquam obcaecati! Sequi obcaecati eveniet, veniam delectus, exercitationem nihil placeat quia a vel repudiandae tempora necessitatibus nostrum animi perferendis minima pariatur eligendi fuga quod magni natus cumque? Ab, possimus libero! Provident sequi voluptas nihil asperiores! Tempora eligendi nostrum saepe obcaecati, vitae temporibus cupiditate odio ratione velit facilis. Neque cum dolore unde vero amet ipsum voluptatibus reprehenderit et delectus tempora inventore quis dicta ut asperiores odit ipsa facere, nam molestiae ipsam accusamus ex aliquam odio aliquid. Magnam vero, laboriosam ratione molestias nihil doloremque? Aut doloribus dicta velit culpa magnam voluptas quod omnis voluptates mollitia iste cum molestiae dolorum rerum rem accusantium, ducimus reiciendis tenetur corrupti eveniet nisi aliquam in? Est obcaecati adipisci et eos necessitatibus vitae nesciunt delectus consequatur tempore, blanditiis perferendis maiores esse voluptate unde, minima qui veritatis aut dolores ut, inventore ipsa perspiciatis. Optio ratione natus enim voluptate atque aut harum odio ut iste.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore sequi corporis nemo ipsam tempora, sapiente, dolore dolores officia animi consectetur magnam, quo necessitatibus ab. Eius quidem possimus nesciunt beatae sit, enim maiores distinctio facilis ullam quis corrupti! Rem ipsam quisquam quaerat, inventore vitae, atque accusantium nisi ut dignissimos laborum dicta aliquam perferendis! Possimus explicabo ullam harum praesentium exercitationem at reiciendis et excepturi! Delectus similique labore voluptas vitae? Beatae cum at repellendus delectus? Maxime dolor veniam doloremque nemo temporibus velit nihil, quaerat aperiam provident iure est et facere. Ratione, eveniet. Recusandae delectus omnis sit quod autem in optio! Debitis quod, consectetur ipsa sit facilis vero animi autem possimus alias aperiam molestias placeat nulla deleniti repellendus assumenda quidem odit laborum modi, veritatis mollitia accusantium! Ab magnam adipisci doloremque sequi natus atque, aspernatur magni dolorem ipsum sint voluptatibus sit labore blanditiis aliquam. Mollitia sit saepe numquam harum beatae repudiandae odit magnam sequi nobis adipisci eos vitae fugit, similique dignissimos explicabo quos facilis quisquam quibusdam cupiditate? Qui magnam consequatur iste! Minima, temporibus cumque modi rerum dignissimos nisi accusantium repellat tempore rem quaerat ratione, consectetur minus eveniet at porro ducimus aperiam nam in voluptas aut enim neque. Ea, placeat. Nihil neque odit dolores consequatur dicta atque perspiciatis inventore aliquam ea iusto modi, optio cupiditate fugit laudantium in facere natus. Laudantium dolorem, molestias perferendis esse tempore dolor at laborum. Minima eligendi harum tempore ea doloribus dolor maxime sed natus debitis consectetur sequi odio, cum nostrum id, distinctio numquam consequatur officiis laborum impedit aperiam labore accusantium deserunt! Cumque quod nostrum assumenda incidunt ullam quae iste officiis corrupti eveniet facilis id dolore error, temporibus perspiciatis voluptate, quas magni nemo asperiores dignissimos iure amet deserunt laboriosam. Deserunt at soluta provident aut distinctio odio debitis dolorum repellendus! Harum accusantium facere consequatur, sit itaque cumque facilis aperiam, recusandae totam optio molestias laudantium ea esse obcaecati explicabo nihil culpa. Autem est numquam ad eum similique dolores culpa, animi inventore et repellendus asperiores amet aliquid excepturi eligendi nemo? Dignissimos ab laudantium similique animi facere repellat error voluptatibus doloremque, blanditiis a libero et perferendis atque. Quam corrupti ex illo! Debitis recusandae nihil optio magnam laboriosam sed modi distinctio earum numquam obcaecati! Sequi obcaecati eveniet, veniam delectus, exercitationem nihil placeat quia a vel repudiandae tempora necessitatibus nostrum animi perferendis minima pariatur eligendi fuga quod magni natus cumque? Ab, possimus libero! Provident sequi voluptas nihil asperiores! Tempora eligendi nostrum saepe obcaecati, vitae temporibus cupiditate odio ratione velit facilis. Neque cum dolore unde vero amet ipsum voluptatibus reprehenderit et delectus tempora inventore quis dicta ut asperiores odit ipsa facere, nam molestiae ipsam accusamus ex aliquam odio aliquid. Magnam vero, laboriosam ratione molestias nihil doloremque? Aut doloribus dicta velit culpa magnam voluptas quod omnis voluptates mollitia iste cum molestiae dolorum rerum rem accusantium, ducimus reiciendis tenetur corrupti eveniet nisi aliquam in? Est obcaecati adipisci et eos necessitatibus vitae nesciunt delectus consequatur tempore, blanditiis perferendis maiores esse voluptate unde, minima qui veritatis aut dolores ut, inventore ipsa perspiciatis. Optio ratione natus enim voluptate atque aut harum odio ut iste.
            <div class="list vertical centered" style="margin-top:4rem ;">
                <toggle value="false">I Accept</toggle>
                <div class="btn" style="max-width: 300px; min-width: 300px;">Submit</div>
            </div>
        </div>
    </section>
</div>