@using OpenDSM.Core.Handlers
<section id="landing" class="product xl">
    <img class="poster" src="/assets/images/wallpapers/opendsm-wallpapers-no-logo.jpg"/>
    <idv class="content" style="max-width: 800px;">
        <h2 class="name">The Open Digital Software Marketplace</h2>
        <p class="description paragraph-1">Are you a software developer looking to put your products on the web, but are lacking a platform? We've got you covered! Welcome to the worlds first Opensource Digital Marketplace or OpenDSM for short.'</p>
        <div class="list horizontal" style="align-items: center;">
            @if (ViewData["User"] == null)
            {
                        <a href="/auth/signup" class="btn">Create an Account</a>
                        <p class="paragraph-1" style="margin: 0 2rem">OR</p>
                        <a class="btn secondary" href="/auth/login">Login with Existing</a>
            }
            else
            {
                        <a href="/product/create" class="btn">Submit Product</a>
                        <p class="paragraph-1">OR</p>
                        <a class="btn secondary" href="/profile">View Profile</a>
            }
        </div>
        <h4 style="margin: 1rem 0">Supported Platforms: </h4>
        <span class="platforms">
            <i class="fab fa-windows"></i>
            <i class="fab fa-apple"></i>
            <i class="fab fa-linux"></i>
        </span>
    </idv>
</section>

<div class="list vertical content raised centered">
    @{
        var popular = ProductListHandler.GetPopularProducts(20);
        var latest = ProductListHandler.GetLatestProducts(20);
    }
    @if (popular.Any())
    {
        <section id="popular-products" class="carousel">

            <h3>Popular</h3>
            <div class="navigation">
                <div class="carousel-nav-item fas fa-chevron-left"></div>
                <div class="carousel-nav-item fas fa-chevron-right"></div>
            </div>
            <div class="list horizontal">
            @foreach (var product in popular)
            {
                    @Html.PartialAsync("Elements/LargeProductItem", product, ViewData).Result
            }
            </div>
        </section>
    }
    @if (latest.Any())
    {
        <section id="latest-products" class="carousel">

            <h3>Latest</h3>
            <div class="navigation">
                <div class="carousel-nav-item fas fa-chevron-left"></div>
                <div class="carousel-nav-item fas fa-chevron-right"></div>
            </div>
            <div class="list horizontal">
            @foreach (var product in latest)
            {
                @Html.PartialAsync("Elements/LargeProductItem", product, ViewData).Result
            }
            </div>
        </section>
    }
</div>