
<section id="landing" class="product xl">
    <video class="poster" src="/assets/images/testing/lego-brawls-trailer.mp4" muted autoplay loop controls></video>
    <span class="content">
        <h2 class="name">Product Name</h2>
        <a href="/profile/name" class="author paragraph-1">Author Name</a>
        <p class="description paragraph-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum metus, dictum euismod morbi montes. Nisi, mattis vitae morbi ac nunc, lacinia purus mauris vestibulum. Netus vitae leo nulla nisl egestas eget in amet curabitur. Purus, laoreet scelerisque sit nec odio consequat fermentum, facilisi fermentum. Quis tortor, eleifend libero maecenas. Ut purus faucibus tempor in pretium. </p>
        <span class="buttons">
            <a href="/products/author/id" class="btn">View</a>
            <div class="btn secondary" onclick=" new VideoPopup(`/assets/images/testing/lego-brawls-trailer.mp4`).open()">Watch Trailer</div>
        </span>
        <span class="platforms">
            <i class="fab fa-windows"></i>
            <i class="fab fa-apple"></i>
            <i class="fab fa-linux"></i>
        </span>
    </span>
</section>