@using OpenDSM.Core.Handlers
@{
    string category = ((SearchCategory)ViewData["Category"]).ToString();
    string query = (string)(ViewData["query"] ?? "");
}

<div id="search-category-page" class="list vertical centered" style="width: 90%">
    <h1>@category</h1>
    <div class="input">
        <label for="search-input" style="max-width: 50px;min-width: 50px;" title="Search"><i class="fa fa-magnifying-glass"></i></label>
        <input type="text" name="search-input" id="search-input" title="Search" value="@query">
        @if (category != "Users")
        {
            <div class="btn" style="margin: 0;" title="Show Filters" onclick="new SearchFilterPopup('@category').open()"><i class="fa-solid fa-sliders"></i></div>
        }
    </div>
        <div id="search-result" class="list vertical" style="min-height: 100px;">
        </div>
</div>

<script>var category = '@category';</script>