@using OpenDSM.Core.Handlers
@{
    string category = ((SearchCategory)ViewData["Category"]).ToString();
}

<div id="search-category-page" class="list vertical centered" style="width: 90%">
    <h1>@category</h1>
    <div class="input">
        <label for="search-input" style="max-width: 50px;min-width: 50px;" title="Search"><i class="fa fa-magnifying-glass"></i></label>
        <input type="text" name="search-input" id="search-input" title="Search">
        <div class="btn" style="margin: 0;" title="Show Filters" onclick="new SearchFilterPopup('@category').open()"><i class="fa-solid fa-sliders"></i></div>
    </div>
        <div class="list vertical">
        @for (int i = 0; i < 10; i++)
        {
                <a class="list horizontal search-item" href="/profile/1">
                    <div class="search-item-icon" style="background-image: url('/api/auth/image/profile?id=1')"></div>
                    <div class="list vertical">
                        <h3 class="search-item-title">Drew Chase</h3>
                        <p class="paragraph-1">136 Products</p>
                        <span class="platforms">
                            <i class="fab fa-windows"></i>
                            <i class="fab fa-apple"></i>
                            <i class="fab fa-linux"></i>
                        </span>
                    </div>
                    <img src="/api/auth/image/banner?id=1" class="search-item-bg"/>
                </a>
        }
        </div>
</div>