/* Default */
@font-face {
    font-family: "borda";
    src: url("../fonts/Borda.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "borda";
    src: url("../fonts/Borda\ Medium.ttf") format("truetype");
    font-weight: medium;
    font-display: swap;
}


@font-face {
    font-family: "borda";
    src: url("../fonts/Borda\ Bold.ttf") format("truetype");
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "borda";
    src: url("../fonts/Borda\ ExtraBold.ttf") format("truetype");
    font-weight: bolder;
    font-display: swap;
} 