<section class="ad"></section>
<footer>
    <a class="brand" href="/">
        <img src="/assets/images/logo.svg" alt="">
        <h4>OpenDSM</h4>
    </a>
</footer>

<div id="popup">
    <div id="popup-bg"></div>
    <div id="popup-content">
        <div class="title">
            <span id="popup-close-btn">X</span>
        </div>
        <div class="content">
        </div>
    </div>
</div>
<script src="/assets/js/popup.js"></script>
<script src="/assets/js/elements.js"></script>
<script src="/assets/js/search.js"></script>
<script src="/assets/js/dsmplayer.js"></script>