@{
    ViewData["IsLoggedIn"] = ViewData["User"] != null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/lib/fontawesome/css/all.min.css">
    <script src="/assets/lib/jquery.js"></script>
    <title>@ViewData["Title"] - OpenDSM</title>
    <link rel="shortcut icon" href="/assets/images/logo.svg" type="image/x-icon">
</head>

<body>
    @Html.PartialAsync("_Navigation").Result
    <main>
        @RenderBody()
    </main>
    @Html.PartialAsync("_Footer").Result

    <div id="popup">
        <div id="popup-bg"></div>
        <div id="popup-content">
            <div class="title">
                <span id="popup-close-btn">X</span>
            </div>
            <div class="content">
            </div>
        </div>
    </div>

    <script src="/assets/js/popup.js"></script>
    <script src="/assets/js/elements.js"></script>
    <script src="/assets/js/search.js"></script>
    <script src="/assets/js/dsmplayer.js"></script>
</body>

</html>